@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #292956;
  --secondary-color: #7333b0;
  --accent-color: #bc27a3;
  --gray-color: #e4e4f1;
  --border-radius: 6px;
  --transition: 0.4s ease-in-out;
  --linear-gradient: linear-gradient(
    91deg,
    var(--secondary-color) 0%,
    var(--accent-color) 100%
  );
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: unset;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }

  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}

body {
  background-color: var(--primary-color);
  color: white;
  font-weight: 200;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}

label {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 5px;
}

input {
  outline: none;
  border: 2px solid var(--primary-color);
  transition: var(--transition);
  width: 100%;
  max-width: 280px;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  background-color: var(--gray-color);
}

input:focus {
  border: 2px solid var(--accent-color);
}

a {
  font-weight: 400;
  transition: var(--transition);
  color: var(--accent-color);
}

a:hover {
  color: var(--secondary-color);
}
